Repository kevinanielsen/go-fast-cdn, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, api, go

build: add default .air.toml file
  .air.toml
Labels: none

feat (make file) : add conditional execution of build command and menepulation for shell command output for linux machine (#154)
  Makefile
Labels: none

docs: update docs with new `make dev` command
  docs/src/content/docs/contribution/development.md
Labels: docs

docs: update spanish docs with new `make dev` command
  docs/src/content/docs/es/contribution/development.md
Labels: docs

build: update Makefile for air
  Makefile
Labels: none

Add Air for live reload (#155)
  .air.toml
  Makefile
  docs/src/content/docs/contribution/development.md
  docs/src/content/docs/es/contribution/development.md
Labels: docs

Update expired dependencies
  go.mod
  go.sum
Labels: none

Update expired dependencies
  go.mod
  go.sum
Labels: none

refactor: Add content card type and integrate React Query for file management
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/actions/getSize.ts
  ui/src/actions/handleRenameFile.ts
  ui/src/actions/handleResizeImage.ts
  ui/src/components/content-card.tsx
  ui/src/components/content-size.tsx
  ui/src/components/file-data-modal.tsx
  ui/src/components/files.tsx
  ui/src/components/rename-modal.tsx
  ui/src/components/resize-modal.tsx
  ui/src/components/upload.tsx
  ui/src/main.tsx
  ui/src/providers/query.tsx
  ui/src/queries/index.tsx
  ui/src/types/contentCard.ts
  ui/src/utils/index.tsx
Labels: none

update colors
  ui/src/index.css
Labels: none

refactor: Remove deprecated file management actions and integrate useDeleteFile mutation
  ui/src/actions/getFiles.ts
  ui/src/actions/getSize.ts
  ui/src/actions/handleRenameFile.ts
  ui/src/actions/handleResizeImage.ts
  ui/src/components/content-card.tsx
  ui/src/components/upload.tsx
  ui/src/queries/index.tsx
Labels: none

Frontent UI: content area scroll fix
  ui/src/components/files.tsx
Labels: none

Update ui/src/components/resize-modal.tsx
  ui/src/components/resize-modal.tsx
Labels: none

Update ui/src/queries/index.tsx
  ui/src/queries/index.tsx
Labels: none

Update ui/src/components/content-size.tsx
  ui/src/components/content-size.tsx
Labels: none

refactor: Add content card type and integrate React Query for file management (#162)
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/actions/getFiles.ts
  ui/src/actions/getSize.ts
  ui/src/actions/handleRenameFile.ts
  ui/src/actions/handleResizeImage.ts
  ui/src/components/content-card.tsx
  ui/src/components/content-size.tsx
  ui/src/components/file-data-modal.tsx
  ui/src/components/files.tsx
  ui/src/components/rename-modal.tsx
  ui/src/components/resize-modal.tsx
  ui/src/components/upload.tsx
  ui/src/main.tsx
  ui/src/providers/query.tsx
  ui/src/queries/index.tsx
  ui/src/types/contentCard.ts
  ui/src/utils/index.tsx
Labels: none

authentication
  go.mod
  go.sum
  main.go
  src/auth/jwt.go
  src/database/migrate.go
  src/database/user.go
  src/handlers/auth/authHandler.go
  src/middleware/auth.go
  src/models/userModel.go
  src/router/api.go
  ui/package-lock.json
  ui/src/App.tsx
  ui/src/components/auth/Login.tsx
  ui/src/components/auth/ProtectedRoute.tsx
  ui/src/components/auth/Register.tsx
  ui/src/components/auth/UserProfile.tsx
  ui/src/components/content-card.tsx
  ui/src/components/content-size.tsx
  ui/src/components/file-data-modal.tsx
  ui/src/components/files.tsx
  ui/src/components/rename-modal.tsx
  ui/src/components/resize-modal.tsx
  ui/src/components/ui/input.tsx
  ui/src/components/ui/label.tsx
  ui/src/components/upload.tsx
  ui/src/contexts/AuthContext.tsx
  ui/src/pages/AuthTest.tsx
  ui/src/queries/index.tsx
  ui/src/services/authService.ts
  ui/src/types/auth.ts
Labels: api, go

authentication
  ui/src/App.tsx
  ui/src/components/auth/UserProfile.tsx
  ui/src/components/content-size.tsx
Labels: none

settings page.
  src/database/user.go
  src/handlers/auth/authHandler.go
  src/models/userModel.go
  src/router/api.go
  ui/src/App.tsx
  ui/src/components/auth/UserProfile.tsx
  ui/src/components/auth/UserSettings.tsx
Labels: api, go

styling
  ui/src/components/auth/UserProfile.tsx
Labels: none

progress on 2factor
  go.mod
  go.sum
  src/auth/jwt.go
  src/auth/totp.go
  src/handlers/auth/authHandler.go
  src/router/api.go
  ui/package-lock.json
  ui/package.json
  ui/src/components/auth/UserSettings.tsx
  ui/src/types/auth.ts
Labels: api, go

progress on 2fa
  debug_2fa_frontend.sh
  debug_test.sh
  src/auth/jwt.go
  src/database/user.go
  src/handlers/auth/authHandler.go
  test_2fa.sh
  ui/index.html
  ui/src/App.tsx
  ui/src/components/auth/TestImports.tsx
  ui/src/components/auth/UserSettings.tsx
  ui/src/services/authService.ts
  ui/src/store/auth.ts
Labels: api, go

progress on 2fa
  debug_2fa_frontend.sh
  test_2fa.sh
  test_2fa_login.sh
  ui/src/components/auth/Login.tsx
  ui/src/contexts/AuthContext.tsx
  ui/src/types/auth.ts
Labels: none

adding and disabling 2fa
  src/handlers/auth/authHandler.go
  ui/src/components/auth/UserSettings.tsx
  ui/src/services/authService.ts
Labels: api, go

adding and removing 2fa.
  clear-browser-data.js
  debug_test.sh
  src/database/user.go
  src/handlers/auth/authHandler.go
  src/handlers/db/handleDropDB.go
  src/models/userModel.go
  src/router/api.go
  test_2fa_login.sh
  ui/src/components/auth/UserSettings.tsx
  ui/src/contexts/AuthContext.tsx
Labels: api, go

progress on admin dashboard
  src/database/user.go
  src/handlers/auth/adminUserHandler.go
  src/handlers/auth/authHandler.go
  src/models/userModel.go
  src/router/api.go
  ui/src/App.tsx
  ui/src/pages/AdminDashboard.tsx
  ui/src/pages/AdminUsers.tsx
  ui/src/services/adminUserService.ts
Labels: api, go

enabling and disabling registration
  src/database/config.go
  src/database/database.go
  src/handlers/auth/authHandler.go
  src/handlers/configHandler.go
  src/models/configModel.go
  src/router/api.go
  ui/src/App.tsx
  ui/src/components/auth/AdminRoute.tsx
  ui/src/pages/AdminDashboard.tsx
  ui/src/services/adminUserService.ts
  ui/src/services/configService.ts
Labels: api, go

authentication
  README_FORK_SUMMARY.md
Labels: docs

.
  ui/src/App.tsx
  ui/src/components/auth/Register.tsx
  ui/src/components/auth/UserSettings.tsx
Labels: none

admin panel fully working
  src/models/userModel.go
  ui/src/pages/AdminUsers.tsx
  ui/src/services/adminUserService.ts
Labels: api, go

admin page is not perfect, but usable.
  ui/src/pages/AdminUsers.tsx
Labels: none

feature done.
  README_FORK_SUMMARY.md
Labels: docs

removed unnecessary test file.
  clear-browser-data.js
Labels: none

updating PR as requested.
  .gitignore
  ui/index.html
  ui/src/App.tsx
  ui/src/components/content-card.tsx
  ui/src/components/resize-modal.tsx
  ui/src/contexts/AuthContext.tsx
  ui/src/pages/AdminUsers.tsx
  ui/src/queries/index.tsx
  ui/src/services/adminUserService.ts
  ui/src/services/authService.ts
  ui/src/store/auth.ts
Labels: none

missed some changes...
  ui/src/components/auth/TestImports.tsx
  ui/src/components/auth/UserProfile.tsx
Labels: none

fixed UserProfile issue breaking ui build.
  ui/src/components/auth/UserProfile.tsx
Labels: none

docs: fix invalid git clone URL across documentation
  README.md
  docs/src/content/docs/contribution/development.md
  docs/src/content/docs/es/contribution/development.md
Labels: docs

refactor: update UI components and styles for improved consistency and functionality
  ui/components.json
  ui/package.json
  ui/pnpm-lock.yaml
  ui/postcss.config.js
  ui/src/components/content-card.tsx
  ui/src/components/ui/button.tsx
  ui/src/components/ui/dialog.tsx
  ui/src/components/ui/input.tsx
  ui/src/components/ui/label.tsx
  ui/src/index.css
  ui/src/lib/utils.ts
  ui/tailwind.config.js
Labels: none

refactor(query): remove React Query Devtools from QueryProvider
  ui/src/providers/query.tsx
Labels: none

refactor(queries): moved queries file into hooks folder and added payload object
  ui/src/hooks/queries.tsx
Labels: none

.github/labeler.yml:

# Add 'docs' label to any file changes within 'docs' folder or any file with '.md' extension
docs:
- 'docs/**'
- '**/*.md'

# Add 'api' label to any file changes in any file with '.go' extension
api:
- '**/*.go'

# Add 'go' label to any file changes in any file with '.go' extension
go:
- '**/*.go'
