Repository kevinanielsen/go-fast-cdn, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, api, go

removed en folder
  docs/src/content/docs/en/api.mdx
  docs/src/content/docs/en/contribution/contributing.md
  docs/src/content/docs/en/contribution/development.md
  docs/src/content/docs/en/guides/hosting.md
  docs/src/content/docs/en/guides/usage.md
  docs/src/content/docs/en/index.mdx
Labels: docs

clipboard issue fix on http
  ui/src/modules/content/content-card.tsx
Labels: none

clipboard issue fix on http (#185)
  ui/src/modules/content/content-card.tsx
Labels: none

delete docs/package-lock.json
  docs/package-lock.json
Labels: docs

Fix 404 Appearing on some pages of documentation (#184)
  docs/astro.config.mjs
  docs/public/gopher.png
  docs/src/content/docs/api.mdx
  docs/src/content/docs/contribution/contributing.md
  docs/src/content/docs/contribution/development.md
  docs/src/content/docs/guides/hosting.md
  docs/src/content/docs/guides/usage.md
  docs/src/content/docs/index.mdx
Labels: docs

Add french part README.md
  README.md
Labels: docs

Update file_url path in handleImageUpload
  src/handlers/image/handleImageUpload.go
Labels: api, go

Update file_url path in handleImageUpload (#192)
  src/handlers/image/handleImageUpload.go
Labels: api, go

feat: log error when web server fails to start
  main.go
  src/router/router.go
  src/router/server.go
Labels: api, go

feat: log error when web server fails to start (#199)
  main.go
  src/router/router.go
  src/router/server.go
Labels: api, go

feat:add support for MySQL database
  README.md
  go.mod
  go.sum
  src/database/database.go
Labels: docs, api, go

feat:add run mysql docker-compose
  docker-compose.mysql.yml
Labels: none

feat:Added support for managing multiple environments in configuration files.
  main.go
  src/initializers/loadEnvVariables.go
Labels: api, go

fix(api): add WebP image format support
  Makefile
  go.mod
  go.sum
  src/handlers/image/handleImageMetadata.go
  src/handlers/image/handleImageResize.go
Labels: api, go

fix(ui): resolve eslint peer dependency conflict
  ui/package-lock.json
  ui/package.json
Labels: none

fix(ci): resolve pnpm lockfile conflict in test workflow
  .github/workflows/test.yml
Labels: none

feat(deps): add Redis go-redis and update dependencies for caching
  .example.env
  go.mod
  go.sum
Labels: none

feat(cache): implement Redis bloom filter and cache initializer
  main.go
  src/cache/disabled.go
  src/cache/disabled_test.go
  src/cache/filter.go
  src/cache/redis_bloom.go
  src/cache/redis_bloom_test.go
  src/initializers/cache.go
Labels: api, go

feat(database): add GetByFileName query methods for doc/image models
  src/database/doc.go
  src/database/image.go
  src/models/docModel.go
  src/models/imageModel.go
Labels: api, go

feat(handlers): integrate caching into doc/image metadata handlers and router
  src/handlers/docs/DocHandler.go
  src/handlers/docs/handleDocMetadata.go
  src/handlers/docs/handleDocMetadata_test.go
  src/handlers/docs/handleDocUpload.go
  src/handlers/image/ImageHandler.go
  src/handlers/image/handleImageMetadata.go
  src/handlers/image/handleImageMetadata_test.go
  src/handlers/image/handleImageUpload.go
  src/router/api.go
  src/router/router.go
  src/router/server.go
Labels: api, go

feat: add nginx subdomain separation example
  README.md
  nginx/example.conf
Labels: docs

docs: clarify nginx proxy manager setup
  README.md
Labels: docs

fix: correct cdn download paths in npm setup
  README.md
Labels: docs

fix: correct cdn download paths in nginx config
  nginx/example.conf
Labels: none

Nginx & NPM (Nginx Proxy Manager) configuration examples & setup guide (#218)
  README.md
  nginx/example.conf
Labels: docs

ci(docker): add DockerHub publish workflow with multi-arch support (#223)
  .github/workflows/docker.yml
  Dockerfile
  README.md
Labels: docs

ci(docker): add DockerHub publish workflow with multi-arch support (#223)
  .github/workflows/docker.yml
  Dockerfile
  README.md
Labels: docs

update go modules
  go.mod
  go.sum
Labels: none

update go modules
  go.mod
  go.sum
Labels: none

update deps
  ui/package.json
  ui/pnpm-lock.yaml
Labels: none

update file input props to allow for null fileRef
  ui/src/modules/content/upload/file-input.tsx
Labels: none

update file input props to allow for null fileRef
  ui/src/modules/content/upload/file-input.tsx
Labels: none

update deps
  ui/package.json
  ui/pnpm-lock.yaml
Labels: none

fix dockerfile
  Dockerfile
  ui/package-lock.json
Labels: none

fix dockerfile
  Dockerfile
  ui/package-lock.json
Labels: none

fix release workflow
  .github/workflows/release.yml
  .goreleaser.yaml
  src/handlers/image/handleImageResize.go
  src/handlers/image/webp_disabled.go
  src/handlers/image/webp_enabled.go
Labels: api, go

fix release workflow
  .github/workflows/release.yml
  .goreleaser.yaml
  src/handlers/image/handleImageResize.go
  src/handlers/image/webp_disabled.go
  src/handlers/image/webp_enabled.go
Labels: api, go

Revert "fix release workflow"
  .github/workflows/release.yml
  .goreleaser.yaml
  src/handlers/image/handleImageResize.go
  src/handlers/image/webp_disabled.go
  src/handlers/image/webp_enabled.go
Labels: api, go

fix release workflow
  .github/workflows/release.yml
  .goreleaser.yaml
  Makefile
  README.md
Labels: docs

fix
  .goreleaser.yaml
Labels: none

.github/labeler.yml:

# Add 'docs' label to any file changes within 'docs' folder or any file with '.md' extension
docs:
- 'docs/**'
- '**/*.md'

# Add 'api' label to any file changes in any file with '.go' extension
api:
- '**/*.go'

# Add 'go' label to any file changes in any file with '.go' extension
go:
- '**/*.go'
