Repository kevinanielsen/go-fast-cdn, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, api, go

chore: Remove PostCSS configuration and integrate Tailwind CSS directly into Vite plugins
  ui/package.json
  ui/pnpm-lock.yaml
  ui/postcss.config.js
  ui/vite.config.ts
Labels: none

refactor(components): move query hooks to hooks folder
  ui/src/components/content-card.tsx
  ui/src/components/content-size.tsx
  ui/src/components/file-data-modal.tsx
  ui/src/components/rename-modal.tsx
  ui/src/components/resize-modal.tsx
Labels: none

refactor(files): update file component to use Skeleton for loading state
  ui/src/components/files.tsx
  ui/src/components/ui/skeleton.tsx
Labels: none

feat(ui): add new UI components and hooks
  ui/src/components/ui/separator.tsx
  ui/src/components/ui/sheet.tsx
  ui/src/components/ui/sidebar.tsx
  ui/src/components/ui/tabs.tsx
  ui/src/components/ui/tooltip.tsx
  ui/src/hooks/use-mobile.ts
Labels: none

feat(ui): restructure upload components and improve sidebar navigation
  ui/src/App.tsx
  ui/src/components/doc-card-upload.tsx
  ui/src/components/docs-input.tsx
  ui/src/components/image-input.tsx
  ui/src/components/sidebar-nav.tsx
  ui/src/components/upload-preview.tsx
  ui/src/components/upload.tsx
  ui/src/components/upload/file-input.tsx
  ui/src/components/upload/image-card-upload.tsx
  ui/src/components/upload/upload-form.tsx
  ui/src/components/upload/upload-modal.tsx
Labels: none

feat(ui): configure Toaster component with custom toast options
  ui/src/App.tsx
Labels: none

feat(ui): enhance upload form with drag-and-drop support
  ui/src/components/upload/upload-form.tsx
Labels: none

fix pnpm-lock
  ui/pnpm-lock.yaml
Labels: none

Add discord link
  README.md
Labels: docs

docs: fix invalid git clone URL across documentation (#171)
  README.md
  docs/src/content/docs/contribution/development.md
  docs/src/content/docs/es/contribution/development.md
Labels: docs

fix go.mod
  go.mod
Labels: none

updating docs.
  docs/src/content/docs/da/api.mdx
  docs/src/content/docs/da/contribution/contributing.md
  docs/src/content/docs/da/contribution/development.md
  docs/src/content/docs/da/guides/hosting.md
  docs/src/content/docs/da/guides/usage.md
  docs/src/content/docs/da/index.mdx
  docs/src/content/docs/en/api.mdx
  docs/src/content/docs/en/contribution/contributing.md
  docs/src/content/docs/en/contribution/development.md
  docs/src/content/docs/en/guides/hosting.md
  docs/src/content/docs/en/guides/usage.md
  docs/src/content/docs/en/index.mdx
  docs/src/content/docs/es/api.mdx
  docs/src/content/docs/es/contribution/contributing.md
  docs/src/content/docs/es/index.mdx
Labels: docs

refactor: enhance UserProfile component with dropdown menu and sidebar integration
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/components/auth/UserProfile.tsx
  ui/src/components/content-size.tsx
  ui/src/components/sidebar-nav.tsx
  ui/src/components/ui/dropdown-menu.tsx
  ui/src/components/ui/sidebar.tsx
Labels: none

refactor(eslint): update eslint version and config
  ui/.eslintrc.cjs
  ui/eslint.config.js
  ui/package.json
  ui/pnpm-lock.yaml
Labels: none

refactor: improved two-factor authentication
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/App.tsx
  ui/src/components/auth/UserProfile.tsx
  ui/src/components/auth/UserSettings.tsx
  ui/src/components/layouts/main-content-wrapper.tsx
  ui/src/components/layouts/sidebar-nav.tsx
  ui/src/components/modules/content/files.tsx
  ui/src/components/modules/settings/UserSettings.tsx
  ui/src/components/modules/settings/schema.ts
  ui/src/components/modules/settings/two-factor-modal.tsx
  ui/src/components/modules/settings/two-factor-section.tsx
  ui/src/components/sidebar-nav.tsx
  ui/src/components/ui/form.tsx
  ui/src/components/ui/input-otp.tsx
  ui/src/components/ui/switch.tsx
  ui/src/contexts/AuthContext.tsx
  ui/src/services/authService.ts
  ui/src/types/response.ts
Labels: none

refactor: moved file and components into each module
  ui/src/App.tsx
  ui/src/components/auth/AdminRoute.tsx
  ui/src/components/layouts/sidebar-nav.tsx
  ui/src/components/modules/auth/AdminRoute.tsx
  ui/src/components/modules/auth/Login.tsx
  ui/src/components/modules/auth/ProtectedRoute.tsx
  ui/src/components/modules/auth/Register.tsx
  ui/src/components/modules/auth/UserProfile.tsx
  ui/src/components/modules/content/content-card.tsx
  ui/src/components/modules/content/content-size.tsx
  ui/src/components/modules/content/file-data-modal.tsx
  ui/src/components/modules/content/files.tsx
  ui/src/components/modules/content/rename-modal.tsx
  ui/src/components/modules/content/resize-modal.tsx
  ui/src/components/modules/content/upload/doc-card-upload.tsx
  ui/src/components/modules/content/upload/file-input.tsx
  ui/src/components/modules/content/upload/image-card-upload.tsx
  ui/src/components/modules/content/upload/upload-form.tsx
  ui/src/components/modules/content/upload/upload-modal.tsx
  ui/src/pages/AuthTest.tsx
Labels: none

feat(table): add DataTable and UI table components
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/components/data-table.tsx
  ui/src/components/ui/table.tsx
Labels: none

feat(user-management): enhance user management page functionality
  ui/src/components/modules/master-data/user-management/user-management-page.tsx
Labels: none

fix(upload-modal): reset upload mutation on modal reset
  ui/src/components/modules/content/upload/upload-modal.tsx
Labels: none

fix(upload): standardize error response for file upload conflicts
  src/handlers/docs/handleDocUpload.go
  src/handlers/docs/handleDocUpload_test.go
  src/handlers/image/handleImageUpload.go
  src/handlers/image/handleImageUpload_test.go
  ui/src/components/modules/content/hooks/use-upload-file-mutation.tsx
Labels: api, go

Update docs/src/content/docs/da/contribution/contributing.md
  docs/src/content/docs/da/contribution/contributing.md
Labels: docs

Update docs/src/content/docs/da/contribution/contributing.md
  docs/src/content/docs/da/contribution/contributing.md
Labels: docs

Update docs/src/content/docs/da/contribution/contributing.md
  docs/src/content/docs/da/contribution/contributing.md
Labels: docs

added api docs + updating en/es/da docs (#175)
  docs/src/content/docs/da/api.mdx
  docs/src/content/docs/da/contribution/contributing.md
  docs/src/content/docs/da/contribution/development.md
  docs/src/content/docs/da/guides/hosting.md
  docs/src/content/docs/da/guides/usage.md
  docs/src/content/docs/da/index.mdx
  docs/src/content/docs/en/api.mdx
  docs/src/content/docs/en/contribution/contributing.md
  docs/src/content/docs/en/contribution/development.md
  docs/src/content/docs/en/guides/hosting.md
  docs/src/content/docs/en/guides/usage.md
  docs/src/content/docs/en/index.mdx
  docs/src/content/docs/es/api.mdx
  docs/src/content/docs/es/contribution/contributing.md
  docs/src/content/docs/es/index.mdx
Labels: docs

refactor(content): enhance ContentCard and modals with tooltips
  ui/src/components/modules/content/content-card.tsx
  ui/src/components/modules/content/file-data-modal.tsx
  ui/src/components/modules/content/rename-modal.tsx
  ui/src/components/modules/content/resize-modal.tsx
  ui/src/components/seperator.tsx
  ui/src/index.css
Labels: none

feat(files): add search functionality to Files component
  ui/src/components/modules/content/files.tsx
Labels: none

feat(user-management): add clear search functionality to user list
  ui/src/components/modules/master-data/user-management/user-management-page.tsx
Labels: none

refactor: moved modules folder into root src folder
  ui/src/App.tsx
  ui/src/components/layouts/sidebar-nav.tsx
  ui/src/modules/auth/AdminRoute.tsx
  ui/src/modules/auth/Login.tsx
  ui/src/modules/auth/ProtectedRoute.tsx
  ui/src/modules/auth/Register.tsx
  ui/src/modules/auth/UserProfile.tsx
  ui/src/modules/content/content-card.tsx
  ui/src/modules/content/content-size.tsx
  ui/src/modules/content/file-data-modal.tsx
  ui/src/modules/content/files.tsx
  ui/src/modules/content/hooks/use-delete-file-mutation.tsx
  ui/src/modules/content/hooks/use-get-file-data-query.tsx
  ui/src/modules/content/hooks/use-get-files-query.tsx
  ui/src/modules/content/hooks/use-get-size-query.tsx
  ui/src/modules/content/hooks/use-rename-file-mutation.tsx
  ui/src/modules/content/hooks/use-resize-image-mutation.tsx
  ui/src/modules/content/hooks/use-resize-modal-query.tsx
  ui/src/modules/content/hooks/use-upload-file-mutation.tsx
  ui/src/modules/content/rename-modal.tsx
  ui/src/modules/content/resize-modal.tsx
  ui/src/modules/content/upload/doc-card-upload.tsx
  ui/src/modules/content/upload/file-input.tsx
  ui/src/modules/content/upload/image-card-upload.tsx
  ui/src/modules/content/upload/upload-form.tsx
  ui/src/modules/content/upload/upload-modal.tsx
  ui/src/modules/master-data/user-management/hooks/use-create-user-mutation.tsx
  ui/src/modules/master-data/user-management/hooks/use-delete-user-mutation.tsx
  ui/src/modules/master-data/user-management/hooks/use-edit-user-mutation.tsx
  ui/src/modules/master-data/user-management/hooks/use-registration-enabled-query.tsx
  ui/src/modules/master-data/user-management/hooks/use-toggle-registration-mutation.tsx
  ui/src/modules/master-data/user-management/hooks/use-users-query.tsx
  ui/src/modules/master-data/user-management/modal/delete-user-confirm-modal.tsx
  ui/src/modules/master-data/user-management/modal/form-user-modal.tsx
  ui/src/modules/master-data/user-management/user-management-page.tsx
  ui/src/modules/settings/UserSettings.tsx
  ui/src/modules/settings/schema.ts
  ui/src/modules/settings/two-factor-modal.tsx
  ui/src/modules/settings/two-factor-section.tsx
  ui/src/pages/AuthTest.tsx
Labels: none

style(user-management): replace divs with sections for layout consistency
  ui/src/modules/master-data/user-management/user-management-page.tsx
Labels: none

feat(content): add checkbox selection to files and content cards
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/components/ui/checkbox.tsx
  ui/src/modules/content/content-card.tsx
  ui/src/modules/content/files.tsx
  ui/src/modules/content/hooks/use-upload-file-mutation.tsx
  ui/src/modules/content/rename-modal.tsx
  ui/src/modules/content/resize-modal.tsx
  ui/src/modules/content/upload/upload-modal.tsx
  ui/src/types/contentCard.ts
Labels: none

feat(upload): enhance upload modal and form functionality
  ui/src/modules/content/files.tsx
  ui/src/modules/content/upload/upload-form.tsx
  ui/src/modules/content/upload/upload-modal.tsx
Labels: none

feat(dashboard): implement dashboard handler and UI components
  src/handlers/dashboardHandler.go
  src/router/api.go
  ui/src/App.tsx
  ui/src/components/layouts/sidebar-nav.tsx
  ui/src/components/sidebar-nav.tsx
  ui/src/components/ui/card.tsx
  ui/src/lib/constant.ts
  ui/src/modules/content/content-size.tsx
  ui/src/modules/content/hooks/use-upload-file-mutation.tsx
  ui/src/modules/content/upload/upload-modal.tsx
  ui/src/modules/dashboard/hooks/use-get-dashboard.tsx
  ui/src/modules/dashboard/info-card.tsx
  ui/src/modules/dashboard/pages/dashboard-page.tsx
  ui/src/types/dashboard.ts
Labels: api, go

style(content-card): add background to checkbox for visibility
  ui/src/modules/content/content-card.tsx
Labels: none

fix(modal): fixed rename and resize modal won't open and closed
  ui/src/modules/content/rename-modal.tsx
  ui/src/modules/content/resize-modal.tsx
Labels: none

fix: update file location of images
  docs/src/content/docs/da/index.mdx
  docs/src/content/docs/en/index.mdx
  docs/src/content/docs/es/index.mdx
Labels: docs

deps: update sharp
  docs/package.json
  docs/pnpm-lock.yaml
Labels: docs

ci: fix goreleaser
  .github/workflows/release.yml
Labels: none

changed config file and removed image temporarily from index.md
  docs/astro.config.mjs
  docs/package-lock.json
  docs/public/gopher.png
  docs/src/content/docs/en/index.mdx
Labels: docs

Set default locale to root
  docs/astro.config.mjs
Labels: docs

Moved all the files in en folder to root directory
  docs/src/content/docs/api.mdx
  docs/src/content/docs/contribution/contributing.md
  docs/src/content/docs/contribution/development.md
  docs/src/content/docs/guides/hosting.md
  docs/src/content/docs/guides/usage.md
  docs/src/content/docs/index.mdx
Labels: docs

.github/labeler.yml:

# Add 'docs' label to any file changes within 'docs' folder or any file with '.md' extension
docs:
- 'docs/**'
- '**/*.md'

# Add 'api' label to any file changes in any file with '.go' extension
api:
- '**/*.go'

# Add 'go' label to any file changes in any file with '.go' extension
go:
- '**/*.go'
