Repository kevinanielsen/go-fast-cdn, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, api, go

feat(docker): add Dockerfile and docker-compose.yml to quickstart the app.
  Dockerfile
  docker-compose.yml
Labels: none

docs: add readme for docker
  README.md
Labels: docs

Include ui build in go binary.
  Dockerfile
Labels: none

docs: Remove docs for docker.
  README.md
Labels: docs

docs: Add docs for docker.
  README.md
Labels: docs

feat(docker): Docker-based setup for building and running the application.
  Dockerfile
  docker-compose.yml
Labels: none

docs(docker): Add docs for docker.
  README.md
Labels: docs

feat(docker): Docker-based setup for building and running the application. (#136)
  Dockerfile
  docker-compose.yml
Labels: none

docs(docker): Add docs for docker. (#137)
  README.md
Labels: docs

added support to upload zip file in documents
  src/handlers/docs/handleDocUpload.go
  ui/src/components/docs-input.tsx
Labels: api, go

refactor | Implemented repository pattern to the APIs
  src/database/doc.go
  src/database/image.go
  src/handlers/docs/DocHandler.go
  src/handlers/docs/handleAllDocs.go
  src/handlers/docs/handleDocDelete.go
  src/handlers/docs/handleDocUpload.go
  src/handlers/docs/handleDocUpload_test.go
  src/handlers/docs/handleDocsRename.go
  src/handlers/image/ImageHandler.go
  src/handlers/image/handleAllImages.go
  src/handlers/image/handleImageDelete.go
  src/handlers/image/handleImageRename.go
  src/handlers/image/handleImageUpload.go
  src/handlers/image/handleImageUpload_test.go
  src/models/docModel.go
  src/models/imageModel.go
  src/router/api.go
  ui/pnpm-lock.yaml
Labels: api, go

added support to upload zip file in documents (#140)
  src/handlers/docs/handleDocUpload.go
  ui/src/components/docs-input.tsx
Labels: api, go

feat(ui): Add a resize button to the image content card
  ui/src/actions/handleResizeImage.ts
  ui/src/components/content-card.tsx
  ui/src/components/resize-modal.tsx
  ui/src/types/imageDimensions.ts
Labels: none

fix(ui): use the previous toast id instead of dismissing it when resizing images
  ui/src/actions/handleResizeImage.ts
Labels: none

feat(ui): Add a resize button to the image content card (#142)
  ui/src/actions/handleResizeImage.ts
  ui/src/components/content-card.tsx
  ui/src/components/resize-modal.tsx
  ui/src/types/imageDimensions.ts
Labels: none

Anvesh | Made changes to the failing test cases
  src/handlers/docs/handleDocUpload_test.go
  src/handlers/image/handleImageUpload_test.go
Labels: api, go

Anvesh | Added the Functional options pattern
  src/router/router.go
  src/server/server.go
Labels: api, go

removed server package and moved server.go file to the router package
  src/router/api.go
  src/router/router.go
  src/router/server.go
Labels: api, go

refactor(api) : Implemented repository pattern to the APIs (#141)
  src/database/doc.go
  src/database/image.go
  src/handlers/docs/DocHandler.go
  src/handlers/docs/handleAllDocs.go
  src/handlers/docs/handleDocDelete.go
  src/handlers/docs/handleDocUpload.go
  src/handlers/docs/handleDocUpload_test.go
  src/handlers/docs/handleDocsRename.go
  src/handlers/image/ImageHandler.go
  src/handlers/image/handleAllImages.go
  src/handlers/image/handleImageDelete.go
  src/handlers/image/handleImageRename.go
  src/handlers/image/handleImageUpload.go
  src/handlers/image/handleImageUpload_test.go
  src/models/docModel.go
  src/models/imageModel.go
  src/router/api.go
  ui/pnpm-lock.yaml
Labels: api, go

Refactor/optional pattern (#147)
  src/router/api.go
  src/router/router.go
  src/router/server.go
Labels: api, go

fix: replace 'arch' command with 'uname -m' for cross-platform compatibility
  Makefile
Labels: none

fix: replace 'arch' command with 'uname -m' for cross-platform compatibility (#150)
  Makefile
Labels: none

add script
  docs/src/components/Header.astro
Labels: docs

update ci/cd
  .github/workflows/deploy.yml
Labels: none

update ci/cd
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: none

fix version
  .github/workflows/deploy.yml
Labels: none

fix dependencies
  docs/package.json
  docs/pnpm-lock.yaml
Labels: docs

fix: use astrojs/image for image optimization
  docs/astro.config.mjs
  docs/package.json
  docs/pnpm-lock.yaml
Labels: docs

remove unused config
  docs/src/content/config.ts
Labels: docs

add content config
  docs/src/content.config.ts
Labels: docs

remove unused env.d.ts
  docs/src/env.d.ts
Labels: docs

remove eslint, prettier config
  docs/.eslintrc.cjs
  docs/.prettierrc.json
Labels: docs

fix: astro config
  docs/astro.config.mjs
Labels: docs

chore: remove unused deps
  docs/package.json
Labels: docs

chore: remove unused deps
  docs/pnpm-lock.yaml
Labels: docs

update tsconfig
  docs/tsconfig.json
Labels: docs

fix head
  docs/astro.config.mjs
  docs/src/components/Header.astro
Labels: docs

fix: Fix docs build issue (#152)
  docs/.eslintrc.cjs
  docs/.prettierrc.json
  docs/astro.config.mjs
  docs/package.json
  docs/pnpm-lock.yaml
  docs/src/components/Header.astro
  docs/src/content.config.ts
  docs/src/content/config.ts
  docs/src/env.d.ts
  docs/tsconfig.json
Labels: docs

use withastro github actions deploy script
  .github/workflows/deploy.yml
Labels: none

feat (make file) : add conditional execution of build command and menepulation for shell command output for linux machine
  Makefile
Labels: none

.github/labeler.yml:

# Add 'docs' label to any file changes within 'docs' folder or any file with '.md' extension
docs:
- 'docs/**'
- '**/*.md'

# Add 'api' label to any file changes in any file with '.go' extension
api:
- '**/*.go'

# Add 'go' label to any file changes in any file with '.go' extension
go:
- '**/*.go'
