Repository kevinanielsen/go-fast-cdn, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, api, go

.github/labeler.yml:

# Add 'docs' label to any file changes within 'docs' folder or any file with '.md' extension
docs:
- 'docs/**'
- '**/*.md'

# Add 'api' label to any file changes in any file with '.go' extension
api:
- '**/*.go'

# Add 'go' label to any file changes in any file with '.go' extension
go:
- '**/*.go'

fix: cards overflow
  ui/src/components/docs-input.tsx
  ui/src/components/image-input.tsx
  ui/src/components/upload-preview.tsx
  ui/src/index.css
Labels: none

chore: add EOF
  ui/src/components/upload-preview.tsx
  ui/src/index.css
Labels: none

feat: support for more OS
  Makefile
Labels: none

fix: adding the right module path
  frontend/go.mod
Labels: none

fix: prevent file name overflow in card
  ui/src/components/upload-preview.tsx
Labels: none

chore: fix indentation
  ui/src/components/upload-preview.tsx
Labels: none

feat: upload multiple files (#116)
  ui/src/components/docs-input.tsx
  ui/src/components/image-input.tsx
  ui/src/components/upload-preview.tsx
  ui/src/components/upload.tsx
  ui/src/index.css
Labels: none

refactor: remove reload
  ui/src/components/upload.tsx
Labels: none

feat: create function to validate file name
  src/validations/validations.go
Labels: api, go

refactor: using function to validate file name
  src/handlers/docs/handleDocUpload.go
  src/handlers/image/handleImageUpload.go
Labels: api, go

feat: add support for txt files
  src/handlers/docs/handleDocUpload.go
Labels: api, go

feat: support for more OS (#117)
  Makefile
Labels: none

feat: add support for txt files (#120)
  src/handlers/docs/handleDocUpload.go
Labels: api, go

docs: fix readme link to goreportcard
  README.md
Labels: docs

Update handleImageResize.go
  src/handlers/image/handleImageResize.go
Labels: api, go

fix: successfully typo
  src/handlers/docs/handleDocDelete.go
Labels: api, go

chore: fix typos across files (#121)
  src/handlers/docs/handleDocDelete.go
  src/handlers/image/handleImageResize.go
Labels: api, go

feat: upload multiple files (#116)
  frontend/src/components/docs-input.tsx
  frontend/src/components/image-input.tsx
  frontend/src/components/upload-preview.tsx
  frontend/src/components/upload.tsx
  frontend/src/index.css
Labels: none

chore: fix typos across files (#121)
  backend/internal/handlers/docs/handleDocDelete.go
  backend/internal/handlers/image/handleImageResize.go
Labels: api, go

docs: fix readme link to goreportcard
  README.md
Labels: docs

feat: add support for txt files (#120)
  backend/internal/handlers/docs/handleDocUpload.go
Labels: api, go

feat: support for more OS (#117)
  Makefile
Labels: none

refactor: remove folder backend
  backend/go.mod
  backend/go.sum
  cmd/main.go
  cmd/main_test.go
  internal/database/database.go
  internal/database/doc.go
  internal/database/image.go
  internal/database/migrate.go
  internal/handlers/db/handleDropDB.go
  internal/handlers/docs/handleAllDocs.go
  internal/handlers/docs/handleDocDelete.go
  internal/handlers/docs/handleDocMetadata.go
  internal/handlers/docs/handleDocMetadata_test.go
  internal/handlers/docs/handleDocUpload.go
  internal/handlers/docs/handleDocsRename.go
  internal/handlers/getSizeHandler.go
  internal/handlers/image/handleAllImages.go
  internal/handlers/image/handleImageDelete.go
  internal/handlers/image/handleImageMetadata.go
  internal/handlers/image/handleImageMetadata_test.go
  internal/handlers/image/handleImageRename.go
  internal/handlers/image/handleImageResize.go
  internal/handlers/image/handleImageUpload.go
  internal/initializers/createFolders.go
  internal/initializers/loadEnvVariables.go
  internal/middleware/cors.go
  internal/models/docModel.go
  internal/models/imageModel.go
  internal/router/api.go
  internal/router/router.go
  internal/testUtils/mockJsonPost.go
  internal/util/deleteFile.go
  internal/util/filterFilename.go
  internal/util/filterFilename_test.go
  internal/util/getPath.go
  internal/util/renameFile.go
  internal/validations/validations.go
Labels: api, go

refactor: move to root
  go.mod
  go.sum
Labels: none

fix: paths
  Makefile
  cmd/main.go
  cmd/main_test.go
  internal/database/database.go
  internal/database/doc.go
  internal/database/image.go
  internal/database/migrate.go
  internal/handlers/db/handleDropDB.go
  internal/handlers/docs/handleAllDocs.go
  internal/handlers/docs/handleDocDelete.go
  internal/handlers/docs/handleDocMetadata.go
  internal/handlers/docs/handleDocMetadata_test.go
  internal/handlers/docs/handleDocUpload.go
  internal/handlers/docs/handleDocsRename.go
  internal/handlers/getSizeHandler.go
  internal/handlers/image/handleAllImages.go
  internal/handlers/image/handleImageDelete.go
  internal/handlers/image/handleImageMetadata.go
  internal/handlers/image/handleImageMetadata_test.go
  internal/handlers/image/handleImageRename.go
  internal/handlers/image/handleImageResize.go
  internal/handlers/image/handleImageUpload.go
  internal/initializers/createFolders.go
  internal/router/api.go
  internal/router/router.go
  ui/embed.go
  ui/go.mod
  ui/go.sum
Labels: api, go

build: run go mod tidy
  go.mod
  go.sum
Labels: none

refactor: decoupling responsibility from the creation function
  src/database/doc.go
  src/database/image.go
Labels: api, go

feat: add validation if file exists
  src/handlers/docs/handleDocUpload.go
Labels: api, go

feat: add validate if image exists
  src/handlers/image/handleImageUpload.go
Labels: api, go

fix: vulnerabilities
  src/handlers/docs/handleDocUpload.go
  src/handlers/image/handleImageUpload.go
Labels: api, go

reafactor: add error
  src/database/doc.go
Labels: api, go

refactor: add if and using variable that returns from the database
  src/handlers/docs/handleDocUpload.go
  src/handlers/image/handleImageUpload.go
Labels: api, go

docs: fix Dockerfile
  docs/src/content/docs/guides/hosting.md
Labels: docs

docs: fix Dockerfile (#126)
  docs/src/content/docs/guides/hosting.md
Labels: docs

test: added tests for image upload
  src/database/database.go
  src/handlers/image/handleImageUpload_test.go
Labels: api, go

test: added tests for documents upload
  src/handlers/docs/handleDocUpload_test.go
Labels: api, go

refactor(test): fixed comments
  src/handlers/docs/handleDocUpload_test.go
  src/handlers/image/handleImageUpload_test.go
Labels: api, go

test: added tests for uploading documents and images. (#130)
  src/database/database.go
  src/handlers/docs/handleDocUpload_test.go
  src/handlers/image/handleImageUpload_test.go
Labels: api, go

Add in specific ARCH to build
  Makefile
Labels: none

Add in specific ARCH to build (#133)
  Makefile
Labels: none
