Repository kevinanielsen/go-fast-cdn, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, api, go

CI: Fix release workflow (#234)
  .github/workflows/release.yml
  .goreleaser.yaml
  Makefile
  README.md
Labels: docs

fix: replace deprecated archives.format with formats
  .goreleaser.yaml
Labels: none

fix(cache): harden upload dedupe fallback and error handling
  go.mod
  go.sum
  src/handlers/docs/handleDocUpload.go
  src/handlers/image/handleImageUpload.go
  src/util/databaseErrors.go
  src/util/databaseErrors_test.go
Labels: api, go

Change 'format' to 'formats' in goreleaser config
  .goreleaser.yaml
Labels: none

Change 'format' to 'formats' in goreleaser config (#237)
  .goreleaser.yaml
Labels: none

fix: replace deprecated archives.builds with ids in goreleaser config
  .goreleaser.yaml
Labels: none

.github/labeler.yml:

# Add 'docs' label to any file changes within 'docs' folder or any file with '.md' extension
docs:
- 'docs/**'
- '**/*.md'

# Add 'api' label to any file changes in any file with '.go' extension
api:
- '**/*.go'

# Add 'go' label to any file changes in any file with '.go' extension
go:
- '**/*.go'
