Repository kevinanielsen/go-fast-cdn, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, api, go

First pass at #75
  handlers/docs/handleDocMetadata.go
  router/api.go
Labels: api, go

docs(api): add /api/get/size to openapi spec
  static/openapi.json
Labels: none

chore(ci): update goreleaser-action to v5
  .github/workflows/release.yml
Labels: none

doc: add openapi spec for doc metadata endpoint
  static/openapi.json
Labels: none

test: add tests for HandleDocMetadata
  go.mod
  handlers/docs/handleDocMetadata.go
  handlers/docs/handleDocMetadata_test.go
Labels: api, go

feat: add endpoint for getting data about a given document (#81)
  go.mod
  handlers/docs/handleDocMetadata.go
  handlers/docs/handleDocMetadata_test.go
  router/api.go
  static/openapi.json
Labels: api, go

ci: add target commit property to goreleaser config
  .goreleaser.yaml
Labels: none

ci: update 'on' property
  .github/workflows/release.yml
Labels: none

[CI] Change release workflow to create new tag on run (#83)
  .github/workflows/release.yml
  .goreleaser.yaml
Labels: none

[CI] Add make target to execute tests, actions job to execute tests, and modified readme
  .github/workflows/test.yml
  Makefile
  README.md
Labels: docs

Build UI before trying to run tests
  .github/workflows/test.yml
Labels: none

[CI] Add make target and actions job to execute tests (#85)
  .github/workflows/test.yml
  Makefile
  README.md
Labels: docs

.github/labeler.yml:

# Add 'Documentation' label to any file changes within 'docs' or 'guides' folders
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**
    - '**/*.md'
    
api:
- changed-files:
  - any-glob-to-any-file: '**/*.go'
  
go:
- changed-files:
  - any-glob-to-any-file: '**/*.go'
