Repository kevinanielsen/go-fast-cdn, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, api, go

.github/labeler.yml:

# Add 'docs' label to any file changes within 'docs' folder or any file with '.md' extension
docs:
- 'docs/**'
- '**/*.md'

# Add 'api' label to any file changes in any file with '.go' extension
api:
- '**/*.go'

# Add 'go' label to any file changes in any file with '.go' extension
go:
- '**/*.go'

chore(ui): add favicon
  ui/index.html
  ui/public/favicon.ico
Labels: none

[Feat]: add endpoint for getting image metadata (#73)
  handlers/image/handleImageMetadata.go
  handlers/image/handleImageMetadata_test.go
  router/api.go
  static/openapi.json
Labels: api, go

[Feat] Add Image Metadata endpoint (#86)
  handlers/image/handleImageMetadata.go
  handlers/image/handleImageMetadata_test.go
  router/api.go
  static/openapi.json
Labels: api, go

[Doc]: add openapi spec for /api/cdn/resize/image endpoint (#77)
  static/openapi.json
Labels: none

Add api/cdn/resize/image endpoint to openapi spec (#87)
  static/openapi.json
Labels: none

chore: remove unique property from models
  models/docModel.go
  models/imageModel.go
Labels: api, go

feat: remove isLoading state
  ui/src/actions/getSize.ts
  ui/src/components/files.tsx
Labels: none

feat: add filesAtom to store
  ui/src/store.ts
Labels: none

feat: add deleteFile function
  ui/src/components/content-card.tsx
Labels: none

refactor: move getFiles to separate file
  ui/src/actions/getFiles.ts
Labels: none

feat: add delete img button (#88)
  models/docModel.go
  models/imageModel.go
  ui/src/actions/getFiles.ts
  ui/src/actions/getSize.ts
  ui/src/components/content-card.tsx
  ui/src/components/files.tsx
  ui/src/store.ts
Labels: api, go

chore: add issue template for docs
  .github/ISSUE_TEMPLATE/documentation_needed
Labels: none

fix: add file ending to documentation_needed
  .github/ISSUE_TEMPLATE/documentation_needed.md
Labels: docs

docs: add license
  static/openapi.json
Labels: none

fix(docs): fix path parameter
  static/openapi.json
Labels: none

refactor: openapi formatting
  static/openapi.json
Labels: none

refactor: format openapi spec (#93)
  static/openapi.json
Labels: none

feat: reset input on successful upload
  ui/src/components/upload.tsx
Labels: none

chore: implement shadcn/ui
  ui/components.json
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/components/ui/button.tsx
  ui/src/components/ui/dialog.tsx
  ui/src/components/ui/input.tsx
  ui/src/components/ui/label.tsx
  ui/tailwind.config.js
Labels: none

feat: add rename-modal
  ui/src/components/rename-modal.tsx
Labels: none

feat: implement rename-modal
  ui/src/components/content-card.tsx
Labels: none

feat: implement shadcn/ui
  ui/src/components/content-card.tsx
  ui/src/index.css
  ui/src/lib/utils.ts
  ui/vite.config.ts
Labels: none

feat: handleRenameFile function
  ui/src/actions/handleRenameFile.ts
Labels: none

chore: dismiss eslint errors
  ui/src/components/content-card.tsx
Labels: none

chore: add props to RenameModal component
  ui/src/components/content-card.tsx
Labels: none

feat: add functionality to renameModal component
  ui/src/components/rename-modal.tsx
Labels: none

refactor: move folders to src/
  main.go
  main_test.go
  src/database/database.go
  src/database/doc.go
  src/database/image.go
  src/database/migrate.go
  src/handlers/db/handleDropDB.go
  src/handlers/docs/handleAllDocs.go
  src/handlers/docs/handleDocDelete.go
  src/handlers/docs/handleDocMetadata.go
  src/handlers/docs/handleDocMetadata_test.go
  src/handlers/docs/handleDocUpload.go
  src/handlers/docs/handleDocsRename.go
  src/handlers/getSizeHandler.go
  src/handlers/image/handleAllImages.go
  src/handlers/image/handleImageDelete.go
  src/handlers/image/handleImageMetadata.go
  src/handlers/image/handleImageMetadata_test.go
  src/handlers/image/handleImageRename.go
  src/handlers/image/handleImageResize.go
  src/handlers/image/handleImageUpload.go
  src/initializers/createFolders.go
  src/initializers/loadEnvVariables.go
  src/middleware/cors.go
  src/models/docModel.go
  src/models/imageModel.go
  src/router/api.go
  src/router/router.go
  src/testUtils/mockJsonPost.go
  src/util/filterFilename.go
  src/util/filterFilename_test.go
  src/util/getPath.go
Labels: api, go

fix: import alias @
  ui/src/components/ui/input.tsx
  ui/tsconfig.json
  ui/vite.config.ts
Labels: none

refactor: use src/ directory (#98)
  main.go
  main_test.go
  src/database/database.go
  src/database/doc.go
  src/database/image.go
  src/database/migrate.go
  src/handlers/db/handleDropDB.go
  src/handlers/docs/handleAllDocs.go
  src/handlers/docs/handleDocDelete.go
  src/handlers/docs/handleDocMetadata.go
  src/handlers/docs/handleDocMetadata_test.go
  src/handlers/docs/handleDocUpload.go
  src/handlers/docs/handleDocsRename.go
  src/handlers/getSizeHandler.go
  src/handlers/image/handleAllImages.go
  src/handlers/image/handleImageDelete.go
  src/handlers/image/handleImageMetadata.go
  src/handlers/image/handleImageMetadata_test.go
  src/handlers/image/handleImageRename.go
  src/handlers/image/handleImageResize.go
  src/handlers/image/handleImageUpload.go
  src/initializers/createFolders.go
  src/initializers/loadEnvVariables.go
  src/middleware/cors.go
  src/models/docModel.go
  src/models/imageModel.go
  src/router/api.go
  src/router/router.go
  src/testUtils/mockJsonPost.go
  src/util/filterFilename.go
  src/util/filterFilename_test.go
  src/util/getPath.go
  ui/src/components/ui/input.tsx
  ui/tsconfig.json
  ui/vite.config.ts
Labels: api, go

refactor: code formatting
  src/database/database.go
  src/handlers/docs/handleAllDocs.go
  src/handlers/docs/handleDocDelete.go
  src/handlers/docs/handleDocMetadata_test.go
  src/handlers/docs/handleDocUpload.go
  src/handlers/image/handleAllImages.go
  src/handlers/image/handleImageMetadata_test.go
  src/handlers/image/handleImageRename.go
  src/handlers/image/handleImageUpload.go
  src/initializers/createFolders.go
  ui/embed.go
Labels: api, go

refactor: image deletion endpoint
  src/handlers/image/handleImageDelete.go
Labels: api, go

feat: prevent renaming to the same file name
  src/handlers/image/handleImageRename.go
Labels: api, go

feat: add function to delete file
  src/util/deleteFile.go
Labels: api, go

refactor: using function to delete file
  src/handlers/image/handleImageDelete.go
Labels: api, go

refactor: using function to delete file and improving flow
  src/handlers/docs/handleDocDelete.go
Labels: api, go

refactor: code format
  src/handlers/docs/handleAllDocs.go
  src/handlers/image/handleAllImages.go
  src/handlers/image/handleImageUpload.go
Labels: api, go

fix: adding correct path to rename the document
  src/handlers/docs/handleDocsRename.go
Labels: api, go

refactor: code formatting (#99)
  src/database/database.go
  src/handlers/docs/handleAllDocs.go
  src/handlers/docs/handleDocDelete.go
  src/handlers/docs/handleDocMetadata_test.go
  src/handlers/docs/handleDocUpload.go
  src/handlers/image/handleAllImages.go
  src/handlers/image/handleImageMetadata_test.go
  src/handlers/image/handleImageRename.go
  src/handlers/image/handleImageUpload.go
  src/initializers/createFolders.go
  ui/embed.go
Labels: api, go

fix: adding correct path to rename the document (#102)
  src/handlers/docs/handleDocsRename.go
Labels: api, go

feat: add function to validate rename input
  src/validations/validations.go
Labels: api, go
