Repository kevinanielsen/go-fast-cdn, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, api, go

.github/labeler.yml:

# Add 'docs' label to any file changes within 'docs' folder or any file with '.md' extension
docs:
- 'docs/**'
- '**/*.md'

# Add 'api' label to any file changes in any file with '.go' extension
api:
- '**/*.go'

# Add 'go' label to any file changes in any file with '.go' extension
go:
- '**/*.go'

refactor: using function that validate input rename
  src/handlers/docs/handleDocsRename.go
  src/handlers/image/handleImageRename.go
Labels: api, go

feat: add function to rename file
  src/util/renameFile.go
Labels: api, go

refactor: using the function to rename file
  src/handlers/image/handleImageRename.go
Labels: api, go

refactor: using function to rename file and add filter to new name file
  src/handlers/docs/handleDocsRename.go
Labels: api, go

refactor: format
  src/handlers/docs/handleDocDelete.go
Labels: api, go

fix: adding file name validation before adding file to database
  src/handlers/docs/handleDocUpload.go
Labels: api, go

fix: adding file name validation before adding file to database
  src/handlers/image/handleImageUpload.go
Labels: api, go

fix: adding file name validation before adding file to database (#103)
  src/handlers/docs/handleDocUpload.go
Labels: api, go

fix: adding file name validation before adding file to database (#104)
  src/handlers/image/handleImageUpload.go
Labels: api, go

refactor/handlers (#100)
  src/handlers/docs/handleAllDocs.go
  src/handlers/docs/handleDocDelete.go
  src/handlers/docs/handleDocsRename.go
  src/handlers/image/handleAllImages.go
  src/handlers/image/handleImageDelete.go
  src/handlers/image/handleImageRename.go
  src/handlers/image/handleImageUpload.go
  src/util/deleteFile.go
  src/util/renameFile.go
  src/validations/validations.go
Labels: api, go

docs(fix): hosting guide release image
  docs/src/content/docs/guides/hosting.md
Labels: docs

docs(fix): hosting guide release image (#105)
  docs/src/content/docs/guides/hosting.md
Labels: docs

refactor: move SetAtom type to separate file
  ui/src/actions/getFiles.ts
  ui/src/types/setAtom.ts
Labels: none

docs: home page spanish
  docs/astro.config.mjs
  docs/src/content/docs/es/index.mdx
Labels: docs

chore: fix toasts
  ui/src/actions/getFiles.ts
Labels: none

feat: add dialog trigger for metadata modal
  ui/src/components/content-card.tsx
Labels: none

chore: add missing dependency for useEffect
  ui/src/components/files.tsx
Labels: none

chore(ui): add filemetadata type
  ui/src/types/fileMetadata.ts
Labels: none

feat: add file-data-modal
  ui/src/components/file-data-modal.tsx
Labels: none

feat: add UI option for viewing file metadata (#108)
  ui/src/actions/getFiles.ts
  ui/src/components/content-card.tsx
  ui/src/components/file-data-modal.tsx
  ui/src/components/files.tsx
  ui/src/types/fileMetadata.ts
  ui/src/types/setAtom.ts
Labels: none

Update docs/astro.config.mjs
  docs/astro.config.mjs
Labels: docs

docs: home page spanish (#107)
  docs/astro.config.mjs
  docs/src/content/docs/es/index.mdx
Labels: docs

docs: add page usage
  docs/src/content/docs/es/guides/usage.md
  docs/src/content/docs/es/index.mdx
Labels: docs

docs: add page hosting
  docs/src/content/docs/es/guides/hosting.md
Labels: docs

docs: add page development
  docs/src/content/docs/es/contribution/development.md
Labels: docs

docs: add page contribution
  docs/src/content/docs/es/contribution/contributing.md
Labels: docs

docs: add page usage (#109)
  docs/src/content/docs/es/guides/usage.md
  docs/src/content/docs/es/index.mdx
Labels: docs

docs: add page development (#111)
  docs/src/content/docs/es/contribution/development.md
Labels: docs

docs: add page contribution (#112)
  docs/src/content/docs/es/contribution/contributing.md
Labels: docs

docs: add go report card
  README.md
Labels: docs

Update docs/src/content/docs/es/guides/hosting.md
  docs/src/content/docs/es/guides/hosting.md
Labels: docs

Update docs/src/content/docs/es/guides/hosting.md
  docs/src/content/docs/es/guides/hosting.md
Labels: docs

docs: add page hosting (#110)
  docs/src/content/docs/es/guides/hosting.md
Labels: docs

fix(ui): file input causes 404
  ui/src/components/docs-input.tsx
  ui/src/components/image-input.tsx
Labels: none

fix(ui): file input causes 404 (#115)
  ui/src/components/docs-input.tsx
  ui/src/components/image-input.tsx
Labels: none

feat: add property 'multiple' to file input
  ui/src/components/docs-input.tsx
  ui/src/components/image-input.tsx
Labels: none

feat: sends multiple documents or images to api
  ui/src/components/upload.tsx
Labels: none

fix: show icon for each file being uploaded
  ui/src/components/docs-input.tsx
  ui/src/components/image-input.tsx
Labels: none

fix: refresh page after uploading all files
  ui/src/components/upload.tsx
Labels: none

chore: add semicolons
  ui/src/components/docs-input.tsx
  ui/src/components/image-input.tsx
Labels: none
