Repository kevinanielsen/go-fast-cdn, pull requests merged in 2023-12, with the labels that each got.

#2 docs(api): add missing endpoints
  static/openapi.json
Labels: documentation

#3 refactor: switch to sqlite database
  .env.vault
  database/database.go
  go.mod
  go.sum
  main.db
Labels: enhancement

#6 Various new features
  Makefile
  README.md
  database/database.go
  example.main.db
  initializers/createFolders.go
  main.go
  util/getPath.go
  util/handlers/docs/handleDocsUpload.go
  util/handlers/image/handleImageUpload.go
Labels: documentation, enhancement

#10 [Refactor] Add styling and performance to upload page
  ui/src/App.tsx
  ui/src/components/docs-input.tsx
  ui/src/components/image-input.tsx
  ui/src/components/upload.tsx
Labels: enhancement, styling

#11 [Feature] Change the filename from uuid to existing or declared filename
  models/docModel.go
  models/imageModel.go
  util/handlers/docs/handleDocsUpload.go
  util/handlers/image/handleImageUpload.go
Labels: enhancement

#13 docs: add docs with astro/starlight
  docs/.gitignore
  docs/.vscode/extensions.json
  docs/.vscode/launch.json
  docs/README.md
  docs/astro.config.mjs
  docs/package.json
  docs/pnpm-lock.yaml
  docs/public/favicon.svg
  docs/src/assets/gopher.png
  docs/src/content/config.ts
  docs/src/content/docs/guides/hosting.md
  docs/src/content/docs/guides/usage.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/reference/example.md
  docs/src/env.d.ts
  docs/tsconfig.json
Labels: documentation, enhancement

#22 [Fix] code scanning alert uncontrolled data used in path expression
  util/filterFilename.go
  util/handlers/docs/handleDocsUpload.go
Labels: enhancement

#23 [Fix] code scanning alert uncontrolled data used in path expression
  util/handlers/docs/handleDocsUpload.go
  util/handlers/image/handleImageUpload.go
Labels: enhancement

#24 [Documentation] Fix broken links
  docs/astro.config.mjs
  docs/src/content/docs/contribution/contributing.md
  docs/src/content/docs/index.mdx
Labels: documentation, enhancement

#26 added fix for CGO_ENABLED bug
  Makefile
Labels: enhancement

#35 [Documentation] Add README for contributing to docs
  docs/README.md
Labels: documentation

#36 [CI] implement prettier and eslint
  docs/.eslintrc.cjs
  docs/.prettierrc.json
  docs/package.json
  docs/pnpm-lock.yaml
  docs/src/content/config.ts
Labels: documentation, enhancement

#38 [Fix] Fix typo in OpenAPI specification
  static/openapi.json
Labels: documentation

#40 [Feature] Endpoint for seeing the total size of the content stored
  handlers/db/handleDropDB.go
  handlers/docs/handleAllDocs.go
  handlers/docs/handleDocDelete.go
  handlers/docs/handleDocUpload.go
  handlers/docs/handleDocsRename.go
  handlers/getSizeHandler.go
  handlers/image/handleAllImages.go
  handlers/image/handleImageDelete.go
  handlers/image/handleImageRename.go
  handlers/image/handleImageUpload.go
  router/api.go
  static/openapi.json
Labels: enhancement, api, go

#43 [Documentation] Add contributing.md
  CONTRIBUTING.md
  README.md
Labels: documentation

#52 [Security] New filename go through FilterFilename function while renaming
  handlers/image/handleImageRename.go
  util/filterFilename_test.go
Labels: test, api, go

#53 test: implement cypress e2e
  ui/cypress.config.ts
  ui/cypress/fixtures/example.json
  ui/cypress/support/commands.ts
  ui/cypress/support/e2e.ts
  ui/package.json
  ui/pnpm-lock.yaml
Labels: test, ui

#54 docs: add code documentation
  database/migrate.go
  initializers/loadEnvVariables.go
  router/router.go
  ui/embed.go
  util/filterFilename.go
  util/getPath.go
Labels: docs, api, go

#55 [Test] Switch to playwright
  ui/.github/workflows/playwright.yml
  ui/.gitignore
  ui/cypress.config.ts
  ui/cypress/fixtures/example.json
  ui/cypress/support/commands.ts
  ui/cypress/support/e2e.ts
  ui/package.json
  ui/playwright.config.ts
  ui/pnpm-lock.yaml
  ui/src/components/content-size.tsx
  ui/tests/config.ts
  ui/tests/content-size.spec.ts
  ui/tests/routes.spec.ts
Labels: test, ui

#61 remove: duplicate variable initialization
  handlers/getSizeHandler.go
Labels: docs, api, go

#64 [CI] Implement Goreleaser
  .github/workflows/release.yml
  .gitignore
  .goreleaser.yaml
  Makefile
  database/database.go
  go.mod
  go.sum
Labels: go, ci

#67 fix: missing path in docker build
  docs/src/content/docs/guides/hosting.md
Labels: docs, api, go

#68 docs: implement i18n
  docs/astro.config.mjs
Labels: docs, i18n

#71 [Test] Add test for get content size endpoint
  handlers/getSizeHandler.go
  main_test.go
  testUtils/mockJsonPost.go
  ui/playwright.config.ts
  ui/tests/api/content-size-api.spec.ts
  ui/tests/config.ts
  ui/tests/ui/content-size.spec.ts
  ui/tests/ui/routes.spec.ts
Labels: test, api

#72 feat: add image resize handler
  go.mod
  go.sum
  handlers/image/handleImageResize.go
  router/api.go
Labels: enhancement, api, go

#74 chore(deps): bump golang/x/image to v0.14.0
  go.mod
  go.sum
Labels: docs, api, go, dependencies

#79 ci: fix release on goreleaser
  .goreleaser.yaml
Labels: ci
