Repository kevinanielsen/go-fast-cdn, pull requests merged in 2024-01, with the labels that each got.

#81 feat: add endpoint for getting data about a given document
  go.mod
  handlers/docs/handleDocMetadata.go
  handlers/docs/handleDocMetadata_test.go
  router/api.go
  static/openapi.json
Labels: docs, enhancement, api, go

#83 [CI] Change release workflow to create new tag on run
  .github/workflows/release.yml
  .goreleaser.yaml
Labels: ci

#85 [CI] Add make target and actions job to execute tests
  .github/workflows/test.yml
  Makefile
  README.md
Labels: docs, api, go, ci

#86 [Feat] Add Image Metadata endpoint
  handlers/image/handleImageMetadata.go
  handlers/image/handleImageMetadata_test.go
  router/api.go
  static/openapi.json
Labels: api, go

#88 feat: add delete img button
  models/docModel.go
  models/imageModel.go
  ui/src/actions/getFiles.ts
  ui/src/actions/getSize.ts
  ui/src/components/content-card.tsx
  ui/src/components/files.tsx
  ui/src/store.ts
Labels: api, go

#98 refactor: use src/ directory
  main.go
  main_test.go
  src/database/database.go
  src/database/doc.go
  src/database/image.go
  src/database/migrate.go
  src/handlers/db/handleDropDB.go
  src/handlers/docs/handleAllDocs.go
  src/handlers/docs/handleDocDelete.go
  src/handlers/docs/handleDocMetadata.go
  src/handlers/docs/handleDocMetadata_test.go
  src/handlers/docs/handleDocUpload.go
  src/handlers/docs/handleDocsRename.go
  src/handlers/getSizeHandler.go
  src/handlers/image/handleAllImages.go
  src/handlers/image/handleImageDelete.go
  src/handlers/image/handleImageMetadata.go
  src/handlers/image/handleImageMetadata_test.go
  src/handlers/image/handleImageRename.go
  src/handlers/image/handleImageResize.go
  src/handlers/image/handleImageUpload.go
  src/initializers/createFolders.go
  src/initializers/loadEnvVariables.go
  src/middleware/cors.go
  src/models/docModel.go
  src/models/imageModel.go
  src/router/api.go
  src/router/router.go
  src/testUtils/mockJsonPost.go
  src/util/filterFilename.go
  src/util/filterFilename_test.go
  src/util/getPath.go
  ui/src/components/ui/input.tsx
  ui/tsconfig.json
  ui/vite.config.ts
Labels: api, go

#99 refactor: code formatting
  src/database/database.go
  src/handlers/docs/handleAllDocs.go
  src/handlers/docs/handleDocDelete.go
  src/handlers/docs/handleDocMetadata_test.go
  src/handlers/docs/handleDocUpload.go
  src/handlers/image/handleAllImages.go
  src/handlers/image/handleImageMetadata_test.go
  src/handlers/image/handleImageRename.go
  src/handlers/image/handleImageUpload.go
  src/initializers/createFolders.go
  ui/embed.go
Labels: api, go

#102 fix: adding correct path to rename the document
  src/handlers/docs/handleDocsRename.go
Labels: api, go

#103 fix: adding file name validation before adding file to database
  src/handlers/docs/handleDocUpload.go
Labels: api, go

#104 fix: adding file name validation before adding file to database (upload image)
  src/handlers/image/handleImageUpload.go
Labels: api, go

#100 refactor/handlers
  src/handlers/docs/handleAllDocs.go
  src/handlers/docs/handleDocDelete.go
  src/handlers/docs/handleDocsRename.go
  src/handlers/image/handleAllImages.go
  src/handlers/image/handleImageDelete.go
  src/handlers/image/handleImageRename.go
  src/handlers/image/handleImageUpload.go
  src/util/deleteFile.go
  src/util/renameFile.go
  src/validations/validations.go
Labels: api, go

#108 feat: add UI option for viewing file metadata
  ui/src/actions/getFiles.ts
  ui/src/components/content-card.tsx
  ui/src/components/file-data-modal.tsx
  ui/src/components/files.tsx
  ui/src/types/fileMetadata.ts
  ui/src/types/setAtom.ts
Labels: enhancement, ui

#107 docs: home page spanish
  docs/astro.config.mjs
  docs/src/content/docs/es/index.mdx
Labels: docs

#109 docs(i18n): add page usage
  docs/src/content/docs/es/guides/usage.md
  docs/src/content/docs/es/index.mdx
Labels: docs, i18n

#111 docs: add page development
  docs/src/content/docs/es/contribution/development.md
Labels: docs, i18n

#110 docs: add page hosting
  docs/src/content/docs/es/guides/hosting.md
Labels: docs, i18n

#120 feat: add support for txt files
  src/handlers/docs/handleDocUpload.go
Labels: api, go
